---
layout: default
class: pg-page
---

<div class="collections">
{% for cid in site.data.collections %}
	{% capture url %}{{ site.data[cid].url }}{% endcapture %}
	{% capture title %}{{ site.data[cid].title }}{% endcapture %}
	{% capture description %}{{ site.data[cid].description }}{% endcapture %}
	<div class="collection">
		<div class="header">
			<a href="{% if url %}{{ url }}{% else %}/{{ cid }}{% endif %}">
				<h2 class="title">{{ title }}</h2>
			</a>
		</div>
		{% if description %}
		<div class="body">
			{{ description }}
		</div>
		{% endif %}
	</div>
{% endfor %}
</div>
