---
layout: default
class: pg-index
---

<div class="posts">
{% for post in site.posts %}
	<div class="post summary">
		<div class="header">
			<h2 class="title">
				<a href="{{ post.url }}">{{ post.title }}</a>
			</h2>
			<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
		</div>
		<div class="body">
		{% if post.summary %}
			{{ post.summary }}
		{% elsif post.content contains '<!--more-->' %}
			{{ post.content | split:'<!--more-->' | first }} ...
		{% elsif post.content contains '<!--summary-->' %}
			{{ post.content | split:'<!--summary-->' | second }} ...
		{% else %}
			{{ post.excerpt }}
		{% endif %}
		</div>
	</div>
{% endfor %}
</div>
